@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  max-width: 100%;
  background-image: url("resources/Particles-0.1s-1440px.svg");
  font-size: 20px;
}

header {
  font-family: "Bebas Neue", cursive;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100vh;
  justify-content: center;
}
.hero-image {
  text-align: center;
}
.hero-image img {
  width: 30%;
  filter: grayscale(80%);
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.43);
  transition: all 0.2s;
}

.hero-image img:hover {
  filter: none;
  transform: translateY(2px);
  box-shadow: none;
}
.hero-social {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
}

.hero-social li a {
  margin-right: 10px;
  font-size: 170%;
  text-decoration: none;
  color: #212b38;
}

.linkedin:hover {
  color: #2867b2;
  transform: translateY(2px);
}
.fb:hover {
  color: #4267b2;
  transform: translateY(2px);
}
.mail:hover,
.ghub:hover {
  opacity: 0.8;
  transform: translateY(2px);
}
.top-text {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 3px;
  color: #212b38;
  font-size: 125%;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #212b38; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #212b38;
  }
}

.section-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 110%;
  font-family: "Bebas Neue", cursive;

  padding: 10px;

  /* margin-top: 50px; */
}
.section-skills h2 {
  margin-bottom: 2%;
  font-size: 180%;
  color: #212b38;
  margin-top: 10%;
  letter-spacing: 5px;
  word-spacing: 4px;
}
.journey-container {
}
.life-event {
  display: flex;
  margin: 0px 9%;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 7px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
  width: 82%;
  transition: all 0.1s;
}

.life-event:hover {
  box-shadow: none;
}
.company-image {
  flex: 0 0 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-image img {
  width: 35%;
}

.company-image img:hover {
  opacity: 0.8;
}
.company-desc {
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  background-color: #f8fafa;
  padding: 24px;
  width: 100%;
}
.desc-video {
  width: 50%;
  margin-top: 30px;
  outline: none;
}
.company-desc h3 {
  color: #3377cc;
}
.design {
  color: #5e9516;
  margin-top: 5px;
  letter-spacing: 1px;
}
.desc,
.desc-notes {
  color: #37465b;
  margin-top: 10px;
  letter-spacing: 0;
  font-size: 70%;
}
.desc a {
  text-decoration: none;
}
.desc-notes {
  margin-left: 40px;
}
.desc-notes li {
  margin-bottom: 10px;
}
.js-wp-1 {
  opacity: 0;
}

.js-wp-1 .animate__animated {
  opacity: 1;
  animation-duration: 0.5s;
}

.js-wp-2 {
  opacity: 0;
}

.js-wp-2 .animate__animated {
  opacity: 1;
  animation-duration: 0.5s;
}
.js-wp-3 {
  opacity: 0;
}

.js-wp-3 .animate__animated {
  opacity: 1;
  animation-duration: 0.5s;
}
.js-wp-4 {
  opacity: 0;
}

.js-wp-4 .animate__animated {
  opacity: 1;
  animation-duration: 0.5s;
}
.js-wp-5 {
  opacity: 0;
}

.js-wp-5 .animate__animated {
  opacity: 1;
  animation-duration: 0.5s;
}
.js-wp-6 {
  opacity: 0;
}

.js-wp-6 .animate__animated {
  opacity: 1;
  animation-duration: 0.5s;
}

.technical-skills {
  margin: 0px 9%;
  display: flex;
  flex-direction: column;
}
.skills-box {
  display: flex;
  background-color: #f8fafa;
  align-content: space-around;
  padding: 2% 0;
  justify-content: space-around;
  font-family: "Lato";
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.23);
  border-radius: 7px;
}
.skills-box h3 {
  color: #3377cc;
}

.skill-top-text:after {
  display: block;
  height: 2px;
  background-color: #37465bad;
  content: " ";
  width: 36px;
  margin-top: 10px;
}
.skill ul {
  list-style: none;
}
.skill li {
  margin-top: 10px;
  color: #37465b;
  font-size: 90%;
}
.skill li:first-child {
  margin-top: 20px;
}
.skill ul span {
  margin-right: 10px;
  margin-left: 20px;
  color: #37465bad;
}

.technical-skills h2 {
  margin-bottom: 2%;
  font-size: 180%;
  color: #212b38;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  word-spacing: 3px;
  align-self: center;
}

footer {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212b38;
  background-color: #f8fafa;
}
footer p {
  font-size: 70%;
  border-bottom: 1px solid #212b3837;
  padding: 1.5%;
  width: 25%;
  text-align: center;
}
footer ul {
  display: flex;
  font-size: 70%;
  margin-top: 20px;
  list-style: none;
  align-self: center;
  margin-left: 10px;
  margin-bottom: 20px;
}
footer ul li {
  margin-right: 20px;
}
footer a {
  text-decoration: none;
  color: #3377cc;
}

@media only screen and (max-width: 700px) {
  .life-event {
    flex-direction: column;
  }
  .company-image {
    flex: 0 0 50%;
    margin: 15% 0;
  }
  .company-image img {
    width: 30%;
  }
  .hero-image img {
    width: 70%;
  }
  .desc-video {
    width: 100%;
    margin-top: 30px;
    outline: none;
  }
  body {
    font-size: 14px;
  }
  .hero-social li a {
    font-size: 200%;
  }
  .section-skills h2 {
    margin-bottom: 8%;
  }
  .hero-container {
    /* transform: translateY(-80px); */
  }
  .skills-box {
    flex-direction: column;
  }
  .skill {
    margin: 10%;
  }
  .section-skills {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 1000px) {
  .life-event {
  }
  .company-image {
    flex: 0 0 45%;
  }
  .company-image img {
    width: 40%;
  }
  .hero-image img {
    width: 70%;
  }
  .desc-video {
    width: 100%;
    margin-top: 30px;
    outline: none;
  }
  body {
    font-size: 14px;
  }

  .hero-social li a {
    font-size: 200%;
  }
}
